footer {
    height: 70px;
    color: #fff;
    text-align: center;
}

@media (max-width: 720px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
